$spacer: 1rem !default;
$white: #fff;
$header-height: $spacer * 4;

$cz-navbar-padding-y: $spacer !default;
$navbar-padding-y: $cz-navbar-padding-y;
$navbar-primary-color: $white !default;
$nav-cz-color: $primary !default;

$card-cap-bg: $white;
$card-spacer-y: $spacer;