@font-face {
  font-family: "Adrianna";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ae-lt.ttf');
}

@font-face {
  font-family: "Adrianna";
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ae-rg.ttf');
}

@font-face {
  font-family: "Adrianna";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ae-xb.ttf');
}