// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'fonts';
// Libraries
@import '~normalize.css/normalize.css';
@import '~lightslider/src/css/lightslider.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
// Variables
@import 'variables';
@import 'datatables';
@import 'dropzone';
// Bootstrap
@import 'cz-variables';
@import '~bootstrap/scss/bootstrap';
@import 'cz-theme';
@import 'mixins/cz-box-shadow';
@import "bootstrap-switch-checkbox";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.badge-pill {
    padding: 0.3em 0.7em;
}

.clickable {
    cursor: pointer;
}

.comment-container {
    padding: 12px 18px;
    border-radius: 0.25rem;

    &.non-public {
        background-color: #fff5d1;
    }
}

// Fix jQuery datatables UI
div.dataTables_length {
    select {
        margin: 0 0.5rem;
    }
}

//jScroll

div.jscroll-added {
    //Mimic a column
    padding: 0 15px;
}

div.jscroll-added {

    width: 100%;

    div.jscroll-loading {
        width: 40px;
        margin: 0 auto;
    }
}

/*TMP*/
.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}

//
// Image upload gui
//

//FIXME: TMP fix for image upload ui
.fade:not(.show) {
    opacity: 1;
}

.campaign-image {
    max-height: 200px;
    max-width: 100%;
}

$front-page-spacer: 60px;
$logo-height: $front-page-spacer * 0.64;

@media (min-width: 1400px) {
    .front-page .container {
        max-width: 1340px;
    }
}

.background-image {
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.background-image.campaign-page {
    background-attachment: inherit;
    background-size: 100vw auto;
}

//FIXME: Temporary added campaign page selector here to quickly apply menu styles on campaign-page too
.front-page, .campaign-page, .about-page, .faq-page {

    h1 {
        @include headline-font-style;
    }

    h2, h3, h4, h5, h6 {
        @include sub-heading-font-style;
    }

    a, span, input, select, option, button, span {
        font-family: 'Adrianna', non-serif;
    }

    p {
        @include body-font-style;
    }

    a:hover {
        text-decoration: none;
    }

    .container-fluid {
        @include media-breakpoint-up(sm) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    ul.side-connect-menu {
        position: fixed;
        right: 0;
        padding: 0;
        top: 180px;
        z-index: $fixed-menu-z-index - 1;

        list-style: none;
        font-size: $font-size-lg * 2;

        @include media-breakpoint-down(sm) {
            top: 210px;
        }

        li {
            padding: 5px;

            .fa-facebook-f {
                padding-left: 5px;
            }
        }
    }

    .mobile-menu {


        .mobile-menu-controls {
            position: fixed;
            padding: 1rem 0 .7rem 1rem;
            width: 100%;
            top: 0;
            left: 0;
            z-index: $mobile-menu-z-index;
            transition: background-color .3s ease-out;

            &.sticky {
                background-color: #FFF;
                @include cz-box-shadow-light;
            }
        }

        .mobile-menu-items {
            position: fixed;
            z-index: $mobile-menu-z-index + 1;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            max-height: none;
            background: #FFF;
            @include cz-box-shadow-light;

            &.hidden {
                max-height: 0;
            }

            a {
                background-color: #FFF;
                width: 100%;
                display: block;
                padding: 20px 0;
                text-align: center;
                color: $primary;

            }

            .authentication-buttons {
                border: 0;
                border-radius: 0;
                width: 100%;
            }

            .logo {
                display: block;
            }

            ul.social-links {
                text-align: center;
                padding: 0;

                li {
                    list-style: none;
                    display: inline;
                    padding: 10px;

                    a {
                        display: inline;
                    }
                }
            }
        }

        .logo {
            float: left;
            width: 50%;

            img {
                width: 152px;
            }
        }

        .mobile-menu-toggle {
            display: block;
            float: left;
            padding: 0 16px 0 16px;
            font-size: 1.6rem;
            line-height: 39px;

        }
    }

    .side-menu {

        left: 0;
        position: fixed;
        top: 120px;
        z-index: $fixed-menu-z-index;
        display: block;
        transform: rotate(90deg);
        transform-origin: left bottom 0;

        a {
            color: $secondary;
            display: inline-block;
            line-height: $front-page-spacer;
            margin: 0 $front-page-spacer / 4;
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);

            &:hover {
                color: $primary;
            }
        }
    }

    .inspiring-section {

        &.inspiring-section-first {
            color: $primary;

            .inspire {
                margin-top: 40px;

                @include media-breakpoint-down(sm) {
                    margin-top: 120px;
                }

                .inspire-second {
                    color: $secondary;
                }
            }

            .powershare-button {
                background: $primary;
                border: 1px solid $primary;
                border-radius: 2rem;
                color: #FFF;
                font-weight: $font-weight-bold;
                padding: 1rem 2rem;
                float: left;

                transition: background-color .1s ease-out;

                &:hover {
                    background-color: darken($primary, 10%);
                }
            }
        }

        &.inspiring-section-second {
            color: $secondary;

            .inspire {
                margin-top: 20px;
            }
        }

        .logo {
            display: block;
            height: 60px;
            margin: $logo-height - $front-page-spacer $front-page-spacer $front-page-spacer - $logo-height 0;
        }

        .inspire {
            margin: 0 $front-page-spacer;

            @include media-breakpoint-down(lg) {
                margin: 0 20px;
            }

            @include media-breakpoint-down(md) {

                .inspire-first {
                    font-size: 1.7rem;
                    text-transform: uppercase;
                }

                .inspire-second {
                    font-weight: 200;
                    font-size: 1.15rem;
                }
            }

            @include media-breakpoint-down(sm) {
                margin: 0 40px 0 20px;

                h1.inspire-first {
                    font-size: 1.2em;
                    margin-bottom: 1em !important;
                }

                h3.inspire-second {
                    font-size: 1.2em;
                }
            }

            @include media-breakpoint-up(lg) {

                .inspire-second {
                    font-weight: 200;
                    font-size: 1.35rem;
                }
            }

            .inspire-first {
                text-transform: uppercase;
            }
        }

        input, select {
            -webkit-appearance: none;
            background: transparent;
            border: 1px solid white;
            outline: none;
            border-radius: $logo-height / 2;
            color: white;
            display: block;
            font-weight: 500;
            line-height: $logo-height;
            padding: 0 $logo-height / 2;
            max-width: 100%;
            margin-bottom: $front-page-spacer - $logo-height;
            margin-top: 40px;

            option {
                color: $primary;
                &:disabled {
                    color: #ccc;
                }
            }
        }

        input::placeholder {
            color: white;
        }
    }

    .left-panel {
        /*color: $primary;

        .logo {
            display: block;
            height: 60px;
            margin: $logo-height - $front-page-spacer  $front-page-spacer $front-page-spacer - $logo-height $front-page-spacer;
        }

        .side-menu {
            position: fixed;
            z-index: 999;
            display: block;
            transform: rotate(90deg);
            transform-origin: left bottom 0;

            a {
                display: inline-block;
                line-height: $front-page-spacer;
                margin: 0 $front-page-spacer / 4;
                -moz-transform: scale(-1, -1);
                -webkit-transform: scale(-1, -1);
                -o-transform: scale(-1, -1);
                -ms-transform: scale(-1, -1);
                transform: scale(-1, -1);
                color: $secondary;
            }
        }

        .inspire {
            margin: 0 $front-page-spacer * 2;

            .inspire-second {
                font-weight: 200;
                font-size: 1.3rem;
            }
        }*/
    }

    .right-panel {

        .campaigns-list-wrapper {


            margin-top: $front-page-spacer;
            height: 230px * 2;
            width: 100%;
            overflow: hidden;

            .campaigns-list-wrapper-inner {

                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                //padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
                box-sizing: content-box; /* So the width will be 100% + 17px */

                .campaigns-list {

                    padding: 0 17px 0 0;

                    .ps-card {
                        border-radius: 8px;

                        display: block;
                        margin-bottom: $front-page-spacer * 0.3;
                        overflow: visible;

                        &:hover {
                            .ps-card-image {
                                transform-origin: center center;
                                transform: scale(1.03, 1.03);
                            }
                        }

                        .ps-card-image-container {
                            padding: 0 6px;
                            overflow: visible;
                            position: relative;

                            .ps-card-image {
                                transition: all 50ms ease-out;
                                box-shadow: 0px 18px 61px -27px rgba(0, 0, 0, 0.73);

                                -webkit-filter: grayscale(100%);
                                filter: grayscale(100%);

                                position: relative;
                                border-radius: 50%;
                                width: 100%;
                                height: auto;
                                padding-top: 100%;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;


                            }
                            .ps-card-icon {
                                position: absolute;
                                z-index: 1;
                                bottom: 0;
                                right: 0;
                                width: 46px;
                                height: 46px;

                                -webkit-filter: grayscale(0%);
                                filter: grayscale(0%);
                            }
                        }

                        .ps-card-description {

                            text-align: center;
                            padding: $front-page-spacer * 0.3 0;

                            h4 {
                                font-size: $font-size-lg * 0.9;
                                font-weight: 400;
                                margin: 0;
                            }

                            .ps-card-excerpt {
                                color: $secondary;
                                font-size: $font-size-base 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}

//FIXME: TMP Still adding about and faq page here just to propagate same styles as campaign page needs separation
.campaign-page, .about-page, .faq-page {
    padding-top: $front-page-spacer;

    h1 {
        @include headline-font-style;
    }

    h2, h3, h4, h5, h6 {
        @include sub-heading-font-style;
    }

    a, span, input, select, option, button, span {
        font-family: 'Adrianna', non-serif;
    }

    p {
        @include body-font-style;
    }

    .left-panel {
        color: $primary;

        h1 {
            font-size: $font-size-lg * 1.25;
            font-weight: $font-weight-bold;
        }

        .comments {
            p {
                margin: 0;
            }
        }

        p {
            //TODO: Set proper font here
            font-size: $font-size-base;
            font-weight: 400;
        }

        .ps-card-image-container {
            padding: 0 6px;
            overflow: visible;

            .ps-card-image {
                transition: all 50ms ease-out;
                box-shadow: 0px 18px 61px -27px rgba(0, 0, 0, 0.73);

                position: relative;
                border-radius: 50%;
                width: 100%;
                height: auto;
                padding-top: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                .ps-card-icon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 46px;
                    height: 46px;
                }
            }
        }

        .logo {
            display: block;
            height: 60px;
            margin: $logo-height - $front-page-spacer $front-page-spacer $front-page-spacer - $logo-height 0;
        }

        .side-menu {

            display: block;
            transform: rotate(90deg);
            transform-origin: left bottom 0;

            a {
                display: inline-block;
                line-height: $front-page-spacer;
                margin: 0 $front-page-spacer / 4;
                -moz-transform: scale(-1, -1);
                -webkit-transform: scale(-1, -1);
                -o-transform: scale(-1, -1);
                -ms-transform: scale(-1, -1);
                transform: scale(-1, -1);


            }
        }

        .ps-card {

            @include cz-box-shadow;

            background: white;
            border-radius: 8px;
            overflow: hidden;
            padding: $front-page-spacer / 3;
        }

        .inspire {

            .ps-card {

                &.ps-card-main {
                    padding: $front-page-spacer / 2 $front-page-spacer / 3 $front-page-spacer / 2 $front-page-spacer;

                    @include media-breakpoint-down(lg) {
                        padding: $front-page-spacer / 2 $front-page-spacer / 3 $front-page-spacer / 2 $front-page-spacer / 3;
                    }

                    h1 {
                        font-weight: $font-weight-bold;
                    }

                    h2 {
                        color: $secondary;
                        font-weight: $font-weight-light;
                        text-decoration: underline;
                        font-size: $font-size-lg * 1.2;
                    }
                }

                a.btn {
                    border-radius: $logo-height / 2;
                    border: 2px solid $primary;
                    height: $logo-height;
                    line-height: $logo-height;
                    padding: 0 $logo-height;
                    width: 150px;
                    color: $secondary;
                    text-transform: uppercase;
                    background: #FFF;
                    margin: 0 auto;

                    &:hover {
                        background-color: darken(#FFF, 10);
                    }
                }

                .campaign-mark {

                    padding: 15px 0;

                    & > div {
                        display: inline-block;
                    }

                    .campaign-mark-img {
                        vertical-align: middle;

                        img {
                            width: 46px;
                            height: 46px;
                        }
                    }

                    .campaign-mark-title {

                        vertical-align: middle;
                        padding-left: 7px;

                        span {
                            display: block;
                            width: 100%;
                            height: 20px;
                            font-size: $font-size-lg;
                        }
                    }

                    &.campaign-mark-clickable {
                        cursor: pointer;
                    }
                }

                .campaign-details-area {

                    height: 100%;

                    .vp-table {
                        display: table;
                        width: 100%;
                        height: 100%;

                        .vp-table-row {
                            display: table-row;

                            .vp-table-cell {
                                display: table-cell;
                                vertical-align: top;

                                &.vp-align-top {
                                    vertical-align: top;
                                }

                                &.vp-align-middle {
                                    vertical-align: middle;
                                }

                                &.vp-align-bottom {
                                    vertical-align: bottom;
                                }
                            }
                        }
                    }
                }

                .fund-raising {

                    @include media-breakpoint-down(sm) {

                        .fund-raising-bordered-object {

                            .fire-img {
                                bottom: 30px;
                            }
                        }

                        .required-funding {

                            display: block;
                            margin-top: 10px;
                            text-align: center;

                            h6 {
                                display: inline;
                            }
                        }
                    }

                    .fund-raising-raised {
                        background: transparent;
                        border: 2px solid $primary;
                        border-radius: 2px + ($front-page-spacer * 0.7) / 2;
                        color: #FFF;
                        display: inline-block;
                        font-weight: $font-weight-bold;
                        height: ($front-page-spacer * 0.7);
                        padding: 0;
                        width: 100%;
                        box-sizing: content-box;

                        .fund-raising-bordered-object {
                            .current-funding {
                                background-color: $secondary;
                                border: 2px solid $secondary;
                                border-radius: 2px + ($front-page-spacer * 0.7) / 2;
                                line-height: ($front-page-spacer * 0.7);
                                color: white;
                                display: inline-block;
                                padding: 0 ($front-page-spacer * 0.7) / 4;
                                margin: -2px 0 0 -3px;
                                position: relative;
                                min-width: 50%;
                                text-align: center;
                                font-family: 'Adrianna', non-serif;
                                font-weight: $font-weight-normal;
                            }

                            .fire-img {
                                position: absolute;
                                right: 9%;
                                bottom: 7px;
                            }
                        }
                    }

                    .required-funding {

                        h6 {
                            line-height: 2.4;
                            font-size: $font-size-lg;
                            font-weight: $font-weight-light;
                        }
                    }
                }
            }

            .comments {
                margin: $front-page-spacer;

                textarea {
                    background: transparent;
                    border-radius: 8px;
                    border: 1px solid $primary;
                    padding: $front-page-spacer / 2;
                }
            }
        }

        .gallery {
            .gallery-item {

                @include cz-box-shadow-light;

                position: relative;
                border-radius: 10px;
                overflow: hidden;
                height: 300px;

                .gallery-image {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }

        .about {
            .ps-card {
                &.eth-address-card {

                    h6 {
                        margin-bottom: 0;
                    }

                    span {
                        font-size: $font-size-base * 0.8;
                        font-weight: $font-weight-light;

                        @include media-breakpoint-down(lg) {
                            font-size: $font-size-base * 0.65;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: $font-size-base * 0.55;
                        }
                    }
                }
            }
        }

        .owners {

            .owner-img {
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                display: block;
                margin: 0 auto $front-page-spacer / 4;
                height: 100px;
                width: 100px;
            }

            p.owner-name {
                text-align: center;
                font-weight: $font-weight-bold;
            }
        }
    }

    // Fix youtube videos, this requires parent element to be relative in order to hide overflows
    .youtube-video-aspect {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .video-container:before {
        content: '';
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .video-bg {
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }
    .video-bg .video-fg,
    .video-bg iframe,
    .video-bg video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @supports (object-fit: cover) {
        .video-bg.cover .video-fg.supports-cover {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .video-bg.cover video {
            object-fit: cover;
        }
    }
    /*
      Vertical centering for 16/9 youtube iframes and video elements
      Simulate object-fit: contain for entire element, not just contents of element
    */
    .video-bg.contain {
        font-size: 0;
    }
    .video-bg.contain * {
        font-size: 16px;
    }
    .video-bg.contain:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .video-bg.contain .video-fg {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        /* 16:9 */
        pointer-events: none;
    }
    .video-bg.contain iframe,
    .video-bg.contain video {
        pointer-events: auto;
    }
    @media (min-aspect-ratio: 16/9) {
        .video-bg.contain .video-fg {
            height: 100%;
            padding-bottom: 0;
            max-width: 53.333333333333336vh;
            left: 50%;
            margin-left: -26.666666666666668vh;
        }
    }
}

.about-page {
    .ps-card {
        &.ps-card-video {
            padding: 0;

            @include cz-box-shadow;
        }
    }
}

.faq-page {

    .inspire {

        p.question {
            text-align: justify;

            font-size: $font-size-lg;
            line-height: $font-size-lg * 3;
            font-weight: $font-weight-bold;
            vertical-align: middle;
            margin-left: 3rem;
            color: $secondary;

            &::before {
                content: '-';
                position: relative;
                bottom: 4px;
                font-size: $font-size-lg * 3;
                line-height: $font-size-lg * 3;
                color: $secondary;
                vertical-align: middle;
                padding-right: 0.5rem;
            }
        }

        div.ps-card.answer {
            @include cz-box-shadow-light;
            margin-left: 3rem;
            padding: $front-page-spacer / 3 $front-page-spacer / 3 $front-page-spacer / 3 $front-page-spacer;
        }
    }

    h1.main-heading {
        font-size: $font-size-lg * 2;
        line-height: $font-size-lg * 3;
        color: $secondary;
        text-transform: uppercase;
    }
}

.static-page {

    .inspiring-section {
        .inspire {
            margin: $front-page-spacer 0 0 $front-page-spacer;
        }
    }

    h1.main-heading {
        font-size: $font-size-lg * 2;
        line-height: $font-size-lg * 3;
        color: $secondary;
        text-transform: uppercase;
    }
}

//FIXME: Do we sill need this?
#light-slider {
    ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor: pointer;
    }
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.authentication-buttons {
    background: transparent;
    border: 1px solid $primary;
    border-radius: $logo-height / 2;
    color: $primary;
    display: inline-block;
    font-weight: 500;
    line-height: $logo-height;
    padding: 0;
    max-width: 100%;
    margin-bottom: $front-page-spacer - $logo-height;

    .login, .register {
        transition: all 400ms ease-out;
    }

    .login {
        padding: 0 $logo-height / 2;
    }

    .register {
        background-color: $primary;
        border-radius: $logo-height / 2;
        color: white;
        display: inline-block;
        padding: 0 $logo-height / 2;
        margin-right: -1px;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

.wrapper-animation-one {
    background-image: url(/img/animation-one.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60vw;
    min-height: 60vw;
    padding-top: $front-page-spacer;

    @include media-breakpoint-down(sm) {
        padding-top: $front-page-spacer / 2;

        .inspiring-section .logo {
            height: auto;
            max-width: 40vw;
        }
    }
}

.wrapper-animation-two {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 40vw;
    margin-top: -$front-page-spacer * 3;
    min-height: 50vw;
    padding-top: $front-page-spacer * 2.5;

    @include media-breakpoint-up(sm) {
        background-image: url(/img/animation-two.png);
    }

    @include media-breakpoint-down(sm) {
        padding-top: $front-page-spacer;

        .inspiring-section {
            .logo {
                height: auto !important;
                margin: -21.6px 60px 21.6px 20px;
                max-width: 60%;
            }
        }

        .campaigns-list {
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 60px;
        margin-top: 50px;
    }

    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        background-size: 35vw;
        margin-top: -80px;
    }
}

// Small screens like iPhone 5
@media (max-width: 365px) {
  .coinhive-miner {
    min-height: 300px;
  }
}

@include media-breakpoint-down(sm) {
    .campaign-page {
        min-height: 100vh;

        .left-panel .inspire {
            margin-left: 0;
            margin-top: 40vw;
        }

        .side-menu {
            display: none !important;
        }

        .logo {
            height: auto !important;
            max-width: 40vw;
        }
    }
}

.about-links {
    img {
        display: block;
        max-width: $front-page-spacer;
    }

    a {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.ether-amount {
    max-width: 100px;
}

// Old/New Platform modal styling

//Blur background
//FIXME: This selector could be better.
.modal-open #app, .modal-open *:not(.modal-body)>.container-fluid, .modal-open *:not(.modal-body)>.container {
    -webkit-filter: blur(8px);
}

//Remove dark background color
.modal-backdrop {
    background-color: transparent;
}

.modal {
    &.powershare-modal {

        color: $primary;

        h1 {
            font-family: 'Adrianna', non-serif;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            font-size: $font-size-lg * 1.35;
            color: $secondary;
        }

        .modal-dialog {
            .modal-content {
                @include cz-box-shadow;
                border: none;

                // Small screens like iPhone 5
                @media (max-width: 361px) {
                    div.no-padding {
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}

#oldNewModal {

    .modal-dialog {
        .modal-content {

            button {
                background: transparent;
                border: 2px solid $primary;
                border-radius: $logo-height / 2;
                color: $primary;
                font-weight: $font-weight-bold;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    font-size: $font-size-base * 0.8;
                }

                &:hover {
                    background-color: $primary;
                    color: #FFF;
                }
            }

            .campaign-mark {

                padding: 15px 0;

                @include media-breakpoint-down(sm) {
                    padding: 0;
                }

                & > div {
                    display: inline-block;
                    height: 32px;
                }

                .campaign-mark-img {
                    vertical-align: middle;

                    img {
                        width: 46px;
                        height: 46px;
                    }
                }

                .campaign-mark-title {

                    vertical-align: middle;
                    max-width: 70%;
                    text-align: left;
                    margin: 1rem 0 0;
                    height: auto;

                    span {
                        display: block;
                        width: 100%;
                        height: 20px;
                        font-size: $font-size-lg;

                        @include media-breakpoint-down(sm) {
                            font-size: $font-size-base * 0.8;
                        }

                    }
                }
            }

            .checkbox_wrapper{
                position: relative;
                height: 14px;
                width: 14px;
                margin-right: 0.5rem;
                border: 1px solid $primary;
                border-radius: 3px;
            }

            input[type="checkbox"] {
                opacity:0;
                height: 16px;
                width: 17px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            input[type="checkbox"] + label{
                //background:url('../images/unchecked.png') no-repeat;
                height: 16px;
                width: 17px;
                display:inline-block;
                padding: 0 0 0 0px;
                position: absolute;
                top: -4px;
                left: -1px;
                z-index: 1;
            }

            input[type="checkbox"]:checked + label{
                background:url('/img/checksign.png') no-repeat;
                height: 16px;
                width: 17px;
                display:inline-block;
                padding: 0 0 0 0px;
            }
        }
    }
}

#socialShareModal {

    .modal-dialog {
        .modal-content {
            i {
                cursor: pointer;
                margin: 0 0.1em;
                font-size: $font-size-lg * 4;
            }
        }
    }
}

//TODO: Should we use other scss file for management
.back-logo {
    height: 30px;
}

.campaign-form-logo {
    max-width: 300px;
}

@keyframes round {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loader {
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 50px;
    height: 50px;
    border: 10px solid #F05523;
    border-radius: 50%;
    border-top: 10px solid #6A2E89;
    animation: round 1s infinite linear;
    &.show {
        display: inline-block;
    }
}