// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'datatables';
@import 'dropzone';

// Bootstrap
@import 'cz-variables';
@import '~bootstrap/scss/bootstrap';
@import 'cz-theme';


@import "bootstrap-switch-checkbox";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.badge-pill {
  padding: 0.3em 0.7em;
}

.clickable {
  cursor: pointer;
}

.comment-container {
    padding: 12px 18px; border-radius: 0.25rem;

    &.non-public {
        background-color: #fff5d1;
    }
}

/*TMP*/
.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}

//
// Image upload gui
//

//FIXME: TMP fix for image upload ui
.fade:not(.show) {
    opacity: 1;
}

.campaign-image {
    max-height: 200px;
    max-width: 100%;
}
